body{
    margin: 0;
    span{
        &::before{
            content: unset;
        }
    }
}

.all{
    width: 100%;
    .banner_1{
        width: 100%;
        height: 100vh;
        background-image: url('https://github.com/chib0318/special_topic/blob/master/img/banner_img_1.jpg?raw=true');
        background-size: cover;
        .container{
            width: 100%;
            height: 100%;
            .box{
                .text{
                    padding: 26% 0px 0px 0;
                    .text_glow{
                        h1{
                            margin: 0;
                            padding: 0;
                            color: #111;
                            font-size: 16em;
                            font-weight:bold;
                            span{
                                display: table-cell;
                                margin: 0;
                                padding: 0;
                                animation: animate 2s linear infinite;
                                &:nth-child(1){
                                    animation-delay: 0s;
                                }
                                &:nth-child(2){
                                    animation-delay: 0.60s;
                                }
                                &:nth-child(3){
                                    animation-delay: 0.85s;
                                }
                                &:nth-child(4){
                                    animation-delay: 1.1s;
                                }
                            }
                        }   
                    }
                }//text
                .pork{
                   padding: 0 0 0 80%;
                }
                .steak{
                    padding: 30% 0px 0px 33%;
                }
                .steak_2{
                    padding: 40% 0 0 90%;
                }
                .size{
                    margin-top: 100px;
                    img{
                        width: 300px;
                    }
                }
            }
        }
    }//banner_1
}//all

@keyframes animate{
    100%{
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #ff1e00,
                    0 0 20px #ff1e00,
                    0 0 40px #ff1e00,
                    0 0 80px #ff1e00,
                    0 0 120px #ff1e00,
                    0 0 200px #ff1e00,
                    0 0 300px #ff1e00,
                    0 0 400px #ff1e00,
    }
    90%{
        color:rgba(0, 0, 0, 0);
        filter: blur(0px);
        text-shadow: none;
    }
}